
@font-face {font-family: 'EagleLake'; src: url('/games/lipsia/assets/fonts/EagleLake-Regular.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: lighter; src: url('/games/lipsia/assets/fonts/CormorantUnicase-Light.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: normal; src: url('/games/lipsia/assets/fonts/CormorantUnicase-Regular.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: bold; src: url('/games/lipsia/assets/fonts/CormorantUnicase-SemiBold.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: bolder; src: url('/games/lipsia/assets/fonts/CormorantUnicase-Bold.ttf') format('truetype');}

:root {
    --color-macchiato : rgb(187, 143, 82); 
    --color-darkbrown-3: rgb(27, 20, 8);
    --color-darkbrown-2: rgb(52, 35, 13);
    --color-darkbrown-1: rgb(60, 29, 6);
    --color-lightgrey-1: rgb(208, 201, 178);
    --color-mud-grey-brown: rgb(120, 96, 63);
    --color-warm-brown: rgb(92, 57, 17);
    --color-warm-light-brown: rgb(131, 91, 43);
    --color-light-grey-brown: rgb(131, 91, 43);
    --color-light-yellow-brown: rgb(192, 144, 75);
    --color-dark-oak-brown: rgb(87, 65, 33);
    --color-sky-grey: rgb(182, 188, 177);
}

main {
    position: relative;
    block-size: 100%;
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    background-color: var(--color-lightgrey-1);
    background-image: url('/games/lipsia/assets/backgrounds/City_Birdseyeview.1920x1280.png'), url('/games/lipsia/assets/backgrounds/City_Birdseyeview.1920x1280_low.jpg') ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1em;
    text-align: center;
    background-color: var(--color-macchiato);
    z-index: 1000;
}

header > * {
    margin-block: 0;
}

header > h1 {
    font-family: 'EagleLake', serif;
    font-size: clamp(3em, 5em, 5vw);
    letter-spacing: 0.5em;
}

header > h1 + h2 {
    font-family: 'CormorantUnicase', sans-serif;
    font-size: clamp(1em, 1.5em, 5vw);
    font-weight: bolder;
    margin-top: -1em;
    color: var(--color-warm-brown);
    text-shadow: 0 0 10px var(--color-darkbrown-2);
}

.heraldic-shield {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    
    img {
        aspect-ratio: 1 / 1;
        max-width: 25vw;
        max-height: 25vh;
    }
    
}

.slider {
    position: relative;
    
    &.slider-in > *:not(.slider-button) {
        display: none;
    }
}

.slider-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: clamp(2em, 50px, 5vw);
    bottom: -25px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    
    &.slider-orientation-down {
        transform: rotate(180deg);
    }
    
    &.slider-orientation-left {
        transform: rotate(90deg);
    }
    
    &.slider-orientation-right {
        transform: rotate(-90deg);
    }
    
    &.slider-position-out {
        background-image: url('/games/lipsia/assets/images/roundal_in.100x100.png');
    }
    
    &.slider-position-in {
        background-image: url('/games/lipsia/assets/images/roundal_out.100x100.png');
    }
}