
@font-face {font-family: 'EagleLake'; src: url('/games/lipsia/assets/fonts/EagleLake-Regular.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: lighter; src: url('/games/lipsia/assets/fonts/CormorantUnicase-Light.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: normal; src: url('/games/lipsia/assets/fonts/CormorantUnicase-Regular.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: bold; src: url('/games/lipsia/assets/fonts/CormorantUnicase-SemiBold.ttf') format('truetype');}
@font-face {font-family: 'CormorantUnicase'; font-weight: bolder; src: url('/games/lipsia/assets/fonts/CormorantUnicase-Bold.ttf') format('truetype');}

:root {
    --color-macchiato : rgb(187, 143, 82); 
    --color-darkbrown-3: rgb(27, 20, 8);
    --color-darkbrown-2: rgb(52, 35, 13);
    --color-darkbrown-1: rgb(60, 29, 6);
    --color-lightgrey-1: rgb(208, 201, 178);
    --color-mud-grey-brown: rgb(120, 96, 63);
    --color-warm-brown: rgb(92, 57, 17);
    --color-warm-light-brown: rgb(131, 91, 43);
    --color-light-grey-brown: rgb(131, 91, 43);
    --color-light-yellow-brown: rgb(192, 144, 75);
    --color-dark-oak-brown: rgb(87, 65, 33);
    --color-sky-grey: rgb(182, 188, 177);
}

body {
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    background-color: var(--color-lightgrey-1);
    background-image: url('/games/lipsia/assets/backgrounds/City_Birdseyeview.1920x1280.png'), url('/games/lipsia/assets/backgrounds/City_Birdseyeview.1920x1280_low.jpg') ;
}

header {
    padding: 1em;
    text-align: center;
    background-color: var(--color-macchiato);
}

header > * {
    margin-block: 0;
    white-space: pre;
}

header > h1 {
    font-family: 'EagleLake', serif;
    font-size: clamp(3em, 5em, 5vw);
    letter-spacing: 0.5em;
}

header > h1 + h2 {
    font-family: 'CormorantUnicase', sans-serif;
    font-size: clamp(1em, 1.5em, 5vw);
    font-weight: bolder;
    margin-top: -1em;
    color: var(--color-warm-brown);
    text-shadow: 0 0 10px var(--color-darkbrown-2);
}

header > div#heraldic_shield {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    
    img {
        width: clamp(5vw, 480px, 50vw);
    }
    
}